.todo-item {
  height: 54px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
}
.todo-item > span {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.todo-item-action {
  width: 36px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}